<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-Dark-icons.css' %}">

    <!-- Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>Khairunnisa Chaniago</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/CRUD1">CRUD 1</a></li>
                        <li class="nav-item"><a class="nav-link" href="/CRUD2">CRUD 2</a></li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary ms-md-2" role="button" href="/logout">Logout</a>

                {% else %}
                    <a class="btn btn-primary ms-md-2" role="button" href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
        
    <div class="container mt-4">
        <div id="map-box" style="height: 300px;"></div>
    </div>
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Keterangan</th>
                        <th>Alamat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in crud %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{field.nama}}</td>
                            <td>{{field.keterangan}}</td>
                            <td>{{field.lokasi}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>



    
<script>
    let alamat_map = []
    let maker_maps = []
{% for map in maps %}
    console.log("{{map.alamat}}")
    alamat_map.push("{{map.alamat}}")
    maker_maps.push("{{map.lokasi}}")
{% endfor %}

console.log(maker_maps)

// Leaflet JS
const map = L.map('map-box').setView([0,0], 0); 

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
maxZoom: 50,
}).addTo(map);

map.setView(new L.LatLng(-6.241, 106.819), 10)

maker_maps.forEach( (maker, index) => {
    let current_maker = maker.split(',')
    L.marker([current_maker[0], current_maker[1]]).addTo(map).bindPopup(alamat_map[index])
})

map.on('click', function (e) {
const {lat, lng} = e.latlng
console.log([lat, lng])

})
// end leaflet jS
</script>
</body>
</html>