<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-Dark-icons.css' %}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>Crime
        </span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    
                    {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/CRUD1">CRUD 1</a></li>
                        <li class="nav-item"><a class="nav-link" href="/CRUD2">CRUD 2</a></li>
                    {% endif %}
                        
                    
                </ul>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary ms-md-2" role="button" href="/logout">Logout</a>

                {% else %}
                    <a class="btn btn-primary ms-md-2" role="button" href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-5 text-center mx-auto">
                    <h2>Login</h2>
                    <p class="w-lg-50"></p>
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <form class="text-center" method="post">
                                {% csrf_token %}
                                <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Login</button></div>
                            </form><a href="/register">Buat Akun</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>


    <footer class="text-center mt-5" style="background-color:bisque">
        <div class="container text-muted py-4 py-lg-5">
            <p class="mb-0">Copyright © 2022 Khairunnisa Chaniago</p>
        </div>
    </footer>
</body>

</html>